PORT=3000
JWT_SECRET=change-me
JWT_EXPIRES_IN=8h
DB_NAME=chillsage_db
DB_USER=chillsage
DB_PASSWORD=chillsage
DB_HOSTNAME=127.0.0.1
DB_PORT=3307
DB_SYNC=true
TEST_ADMIN_USERNAME=admin.test
TEST_ADMIN_EMAIL=admin.test@chillsage.local
TEST_ADMIN_PASSWORD=Admin123!
TEST_SOLICITANTE_USERNAME=solicitante.test
TEST_SOLICITANTE_EMAIL=solicitante.test@chillsage.local
TEST_SOLICITANTE_PASSWORD=Solicitante123!
TEST_PLANEADOR_USERNAME=planeador.test
TEST_PLANEADOR_EMAIL=planeador.test@chillsage.local
TEST_PLANEADOR_PASSWORD=Planeador123!
TEST_TECNICO_USERNAME=tecnico.test
TEST_TECNICO_EMAIL=tecnico.test@chillsage.local
TEST_TECNICO_PASSWORD=Tecnico123!
